
	</div>
	<div class="logoutFooter">
		<!-- button for logging out -->
			<button type="submit" class="btn2" value="Logout" onclick="window.location.href='/logout';" ><h3 class="btnText">Logout</h3></button>
	</div>
		<script src="/login.js"></script> <!-- External Javascript file for login page animations-->
</body>
</html>