<!DOCTYPE html>
<html>
<head>
	<title>Curám Mé</title> <!-- Title for page -->
	<meta charset="utf-8"> <!--setting the character set -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Set the initial view port size-->

	<!--Links to external files -->
	<!--CSS File -->
	<link rel="stylesheet" type="text/css" href="/style.css">
	<!--Link to font awesome icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--Link to google fonts Sen Bold -->
	<link href="https://fonts.googleapis.com/css?family=Sen:700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@800&display=swap" rel="stylesheet">
</head>
<body>
	<div class="wrapper"> <!-- wrapper for entire page -->