<%- include ("../partials/header") %> <!--Call header from partial file -->

<div class="insideWrapper">
	<div class="pageTitle">
		<h4 class="detailsTitle">Tasks - Completed</h4>
	</div>
	<div class="TaskCardNone">
		<h4 class="wrongCompleted">No completed Tasks</h4>
		<h4 class="wrongCompleted">For this ward</h4>
	</div>
</div>
</div>
	<button class="taskBtn4" onclick="window.location.href='/home'">To Do</button>
</div>

<%- include ("../partials/footer") %>  <!--Call footer from partial file -->